<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".PaywallTrampolineActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="merge" />
        <activity
            android:name=".CustomerCenterTrampolineActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="merge" />
    </application>

    <!-- No special permissions required -->

</manifest>

