.DS_Store
.idea/
org.eclipse.buildship.core.prefs
.project
.classpath
Android/.idea/*
.vscode
Subtester/Assets/Plugins/Android/*.aar
exportlog.txt
IntegrationTests/Assets/RevenueCat/
IntegrationTests/Assets/Plugins/
IntegrationTests/Assets/ExternalDependencyManager/
IntegrationTests/ProjectSettings/AndroidResolverDependencies.xml
Purchases.unitypackage
IntegrationTests/buildiOS/
**.log

# fastlane
fastlane/report.xml
fastlane/.env
