.DS_Store
.idea/
org.eclipse.buildship.core.prefs
.project
.classpath
Android/.idea/*
.vscode
.vsconfig
Subtester/Assets/Plugins/Android/*.aar
exportlog.txt
IntegrationTests/Assets/RevenueCat/
IntegrationTests/Assets/Plugins/Android/*.aar
IntegrationTests/Assets/ExternalDependencyManager/
IntegrationTests/ProjectSettings/AndroidResolverDependencies.xml
Purchases.unitypackage
PurchasesUI.unitypackage
Purchases-UnityIAP.unitypackage
IntegrationTests/buildiOS/
**.log

# fastlane
fastlane/report.xml
fastlane/.env

# Unity UserSettings (user-specific settings)
**/UserSettings/

# CircleCI folders
vendor/
.bundle/
RevenueCatUI/Plugins/Android/RevenueCatUI.androidlib/build
